h1, h3 {
  text-align: center;
}

img {
  margin-top: 10px;
}

#factory {
  width: 400px;
}
.col-md-12 img {
  float: left;
}

#teh-kitteh {
  text-align:left;
  margin-top: 75px;
  font-size: 1.2em;
}
